<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459484441376-84prsgc7k31925khgkcqo9tr1qtas7n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459484441376-84prsgc7k31925khgkcqo9tr1qtas7n9</string>
	<key>API_KEY</key>
	<string>AIzaSyDS3l2fn0Q_Cxl_ZKgeOOfAR0MMpHLpJY8</string>
	<key>GCM_SENDER_ID</key>
	<string>459484441376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wgd.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-b7221</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-b7221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459484441376:ios:06f06935cb10df4141c545</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-b7221.firebaseio.com</string>
</dict>
</plist>